#Rules to load module for modems not claimed by any usbserial-dependent module.
#Can be used for USB modems supported by any of the usbserial-dependent drivers until the hardware IDs get built into a driver for automatic recognition.

#Adapted concatenation of all Vodaphone Mobile Connect "45-" rules

ACTION=="add", SUBSYSTEM=="usb", \
   ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1450", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1451", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1464", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"


# Call the driver loading script for the MiFi device
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="1410", ATTRS{idProduct}=="7003", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-novatel.sh %s{idVendor} %s{idProduct}"

# Onda MSA405HS
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0037", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0049", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0052", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0055", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0063", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="2002", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"
#   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

############ End of Vodaphone rules ############

########## Rules added by Puppy Linux ##########

# Huawei E270+  (HSPA+ modem)
# Huawei E1762
# Huawei E1820
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ac", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"

# Siptune LM-75 ("LinuxModem")
# micromax 372G
ACTION=="add", SUBSYSTEMS=="usb", \
   ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9000", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"

# Sierra Wireless MC8765
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="1199", ATTRS{idProduct}=="5805", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"

# Sierra Wireless USB 306
ACTION=="add", SUBSYSTEMS=="usb", \
   ATTRS{idVendor}=="1199", ATTRS{idProduct}=="68a3", \
   ATTRS{bInterfaceClass}=="ff", \
   RUN+="/usr/sbin/pmodprobeoption %s{idVendor} %s{idProduct}"

########## Rules added by Puppy Linux for module usbserial ##########
#
# Haier D1200P USB Modem
# BSNL Clarity USB phone modem
# (Experimental)

#Requires addition of the following to /etc/wvdial.conf:
#  Init6 = AT+CRM=1;+CPS=33;+CMUX=1;+CTA=0

SUBSYSTEM=="usb",SYSFS{idproduct}=="0001",SYSFS{idVendor}=="15eb",RUN+="/sbin/modprobe usbserial vendor=0x%s{idVendor} product=0x%s{idProduct}"

#The following may be needed, but try without it first, then remove the initial "#" to activate it if necessary.
#SUBSYSTEM=="usb",SYSFS{idproduct}=="0001",SYSFS{idVendor}=="15eb",RUN+="/sbin/modprobe ppp_generic"


# Motorola VE465 Modem
# (Experimental)

SUBSYSTEM=="usb",SYSFS{idproduct}=="2b24",SYSFS{idVendor}=="22b8",RUN+="/sbin/modprobe usbserial vendor=0x%s{idVendor} product=0x%s{idProduct}"

