#Udev rules to run usb_modeswitch for hybrid USB devices from Option: Vendor 0x1c9e, Product 0xf000.

#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for OPTION driver

#INSTRUCTIONS: Select only the rule appropriate for your device, based on the descriptions for each of the rules.  Uncomment (remove initial "#" in) one of the following lines beginning with #SUBSYSTEM=="usb".

######################################################## 
# MobiData MBD-200HU 

#SUBSYSTEM=="usb", ATTRS{idProduct}=="f000", ATTRS{idVendor}=="1c9e", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1c9e -P 0x9000 -M '55534243123456788000000080000606f50402527000000000000000000000'"

######################################################## 
# ST Mobile Connect HSUPA USB Modem 
# Use /dev/ttyUSB2 for connecting

#SUBSYSTEM=="usb", ATTRS{idProduct}=="f000", ATTRS{idVendor}=="1c9e", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1c9e -P 0x9063 -M '55534243123456788000000080000606f50402527000000000000000000000'"
