#Udev rules to run usb_modeswitch for hybrid USB devices from Option: Vendor 0x05c6, Product 0x1000.

#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for OPTION driver

#INSTRUCTIONS: Select only the rule appropriate for your device, based on the descriptions for each of the rules.  Uncomment (remove initial "#" in) one of the following lines beginning with #SUBSYSTEM=="usb".


#######################################################
# Option GlobeSurfer Icon (aka "Vodafone EasyBox")
#
# The message SHOULD be the same for all Option devices

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x0af0 -P 0x6600 -M '55534243123456780000000000000601000000000000000000000000000000'"

#######################################################
# Option GlobeSurfer Icon 7.2 

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x0af0 -P 0x6901 -M '55534243123456780000000000000601000000000000000000000000000000'"

########################################################
# Option GlobeTrotter GT MAX 3.6 (aka "T-Mobile Web'n'walk Card Compact II")

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x0af0 -P 0x6600 -M '55534243123456780000000000000601000000000000000000000000000000' -r 0x84"

########################################################
# Option GlobeTrotter GT MAX "7.2 Ready"

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x0af0 -P 0x6701 -M '55534243123456780000000000000601000000000000000000000000000000'"

########################################################
# Option GlobeTrotter EXPRESS 7.2 (aka "T-Mobile wnw Express II")

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x0af0 -P 0x6701 -M '55534243123456780000000000000601000000000000000000000000000000' -r 0x84"

########################################################
# AnyDATA ADU-500A, ADU-510A, ADU-510L, ADU-520A
# (2009-06-05: This ID gets an "Option" treatment by newer kernels.
#   Use module option "option_zero_cd=2" with usb-storage.
#   A kernel patch to fix the problem is pending)

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x16d5 -P 0x6502 -M '5553424312345678000000000000061b000000020000000000000000000000'"

########################################################
# Samsung SGH-Z810 USB (with microSD card)
# (2009-06-05: This ID gets an "Option" treatment by newer kernels.
#   Use module option "option_zero_cd=2" with usb-storage.
#   A kernel patch to fix the problem is pending)

#SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="05c6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x04e8 -P 0x6601 -M '55534243123456780000000000000616000000000000000000000000000000'"

