#Udev rules to run usb_modeswitch for hybrid USB devices from Novatel: Vendor 0x1410, Product 0x5010.
#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for OPTION driver

#INSTRUCTIONS: Select only the rule appropriate for your device, based on the descriptions for each of the rules.  Uncomment (remove initial "#" in) one of the following lines beginning with #SUBSYSTEM=="usb".


########################################################
# Novatel Wireless Ovation MC950D HSUPA
# Novatel Wireless Merlin XU950D
# Novatel Wireless Ovation 930D

#SUBSYSTEM=="usb", ATTRS{idProduct}=="5010", ATTRS{idVendor}=="1410", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1410 -P 0x4400 -M '5553424312345678000000000000061b000000020000000000000000000000'"

########################################################
# Novatel U727 USB modem

#SUBSYSTEM=="usb", ATTRS{idProduct}=="5010", ATTRS{idVendor}=="1410", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1410 -P 0x4100 -M '5553424312345678000000000000061b000000020000000000000000000000'"
