#Udev rules to run usb_modeswitch for hybrid USB devices from ZTE/Onda: Vendor 0x19d2, Product 0x2000.
#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for OPTION driver

#INSTRUCTIONS: Select only the rule appropriate for your device, based on the descriptions for each of the rules.  Uncomment (remove initial "#" in) one of the following lines beginning with #SUBSYSTEM=="usb".


################## Needed in later kernels than 2.6.25.16 ##################

########################################################
# ZTE MF628+ (tested version from Telia / Sweden)
# ZTE MF626
# ZTE MF636 (aka "Telstra / BigPond 7.2 Mobile Card")

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0031 -M '55534243123456782000000080000c85010101180101010101000000000000'"

########################################################
# ZTE MF638 (aka "Onda MDC525UP")

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0037 -M '55534243123456782000000080000c85010101180101010101000000000000'"

########################################################
# ZTE 6535-Z

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0052 -M '55534243123456782000000080000c85010101180101010101000000000000'"


################## Not needed in kernels later than 2.6.25.16 #############
#Switching handled elsewhere (libusual module) in newer kernels for remaining models.

########################################################
# ZTE MF620 (aka "Onda MH600HS")

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0001 -M '55534243123456780000000000000600000000000000000000000000000000'"

########################################################
# ZTE MF622 (aka "Onda MDC502HS")

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0002 -M '55534243f8f993882000000080000a85010101180101010101000000000000'"

########################################################
# ZTE MF622 (probably different version)

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0001 -d 1"

########################################################
# ZTE MF628

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0015 -M '5553424312345678000000000000061b000000030000000000000000000000'"


########################################################
# ONDA MT503HS (most likely a ZTE model)

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0002 -M '55534243b0c8dc812000000080000a85010101180101010101000000000000'"

########################################################
# ONDA MT505UP (most likely a ZTE model)

#SUBSYSTEM=="usb", ATTRS{idProduct}=="2000", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0x0002 -M '55534243123456780000010080000a28000000001c00002000000000000000'"

