#Udev rules to run usb_modeswitch for hybrid USB devices from Option: Vendor 0x1e0e, Product 0xf000.

#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for OPTION driver

#INSTRUCTIONS: Select only the rule appropriate for your device, based on the descriptions for each of the rules.  Uncomment (remove initial "#" in) one of the following lines beginning with #SUBSYSTEM=="usb".

########################################################
# A-Link 3GU

#SUBSYSTEM=="usb", ATTRS{idProduct}=="f000", ATTRS{idVendor}=="1e0e", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1e0e -P 0x9200 -M '5553424312345678000000000000061b000000020000000000000000000000'"

########################################################
# Option iCON 210
# PROLiNK PHS100 (various looks)
# Hyundai Mobile MB-810

#SUBSYSTEM=="usb", ATTRS{idProduct}=="f000", ATTRS{idVendor}=="1e0e", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1e0e -P 0x9000 -M '555342431234567800000000000006bd000000020000000000000000000000'" -r 0x01
