#Udev rules to run usb_modeswitch for hybrid USB devices - those with unique identification.  Others are in separeate rule files for each group.
#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-09
#Modeswitch rules for OPTION driver

#Bypass all of these rules if not an "add" action for "usb" subsystem.
SUBSYSTEM=="usb", GOTO="option_usb"
GOTO="option_end"
LABEL="option_usb"

#######################################################
#The following are now supported by the HSO driver and rules file:

# Option GlobeSurfer Icon 7.2, new firmware (HSO driver)
# Option iCON 225 HSDPA
# Option GlobeTrotter HSUPA Modem (aka "T-Mobile Web'n'walk Card Compact III')
# Option iCON 401
# AT&T USBConnect Quicksilver (made by Option, HSO driver)
# Vodafone K3760 (made by Option, HSO driver) 
#                                                          
#Superceded by HSO rule, so not implemented here.


########################################################
# Huawei E630

ATTRS{idProduct}=="0035", ATTRS{idVendor}=="1033", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x12d1 -P 0x1003 -d 1"

###########
#Huawei modems switched by changing class with the -H argument
ATTRS{idVendor}=="12d1", GOTO="option_12d1"
GOTO="option_not_12d1"
LABEL="option_12d1"
ATTRS{bInterfaceClass}=="ff", GOTO="option_not_12d1"

########################################################
# Huawei E220 (aka "Vodafone EasyBox II", aka "T-Mobile wnw Box Micro")
# Huawei E230
# Huawei E270
# Huawei E870
# and probably most other Huawei devices (just adapt product ID)
# Huawei E169

ATTRS{idProduct}=="100[13]", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -H 1"

########################################################
# Huawei E180

ATTRS{idProduct}=="1414", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -H 1"

########################################################
# Huawei CDMA Mobile C5320 (C300)
# Added by Puppy Linux -- not in released usb_modeswitch.conf file.

ATTRS{idProduct}=="3197", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -H 1"

LABEL="option_not_12d1"
#########


########################################################
# ZTE AC8710

ATTRS{idProduct}=="fff5", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0xffff -M '5553424312345678c00000008000069f030000000000000000000000000000'"

# No. 2
ATTRS{idProduct}=="fff6", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0xfff1 -M '5553424312345678c00000008000069f030000000000000000000000000000'"

########################################################
# ZTE AC2710 (EVDO) (2009-06-09)
# Try this only if the message from the AC8710 (No. 1) does not also work for this modem. (

#ATTRS{idProduct}=="fff5", ATTRS{idVendor}=="19d2", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x19d2 -P 0xffff -M '5553424312345678c00000008000069f010000000000000000000000000000'"

########################################################
# Novatel MC990D

ATTRS{idProduct}=="5020", ATTRS{idVendor}=="1410", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -i 5 -M '5553424312345678000000000000061b000000020000000000000000000000'"

########################################################
# Novatel U760 USB modem

ATTRS{idProduct}=="5030", ATTRS{idVendor}=="1410", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1410 -P 0x6000 -M '5553424312345678000000000000061b000000020000000000000000000000'"

########################################################
# Alcatel One Touch X020 (aka OT-X020, aka MBD-100HU, aka Nuton 3.5G), works with Emobile D11LC
# Alcatel One Touch X030 (aka OT-X030, aka Nuton NT36HD)

ATTRS{idProduct}=="1001", ATTRS{idVendor}=="1c9e", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1c9e -P 0x6061 -M '55534243123456780000000000000606f50402527000000000000000000000'"

########################################################
# Alcatel X200

ATTRS{idProduct}=="f000", ATTRS{idVendor}=="1bbb", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1bbb -P 0x0000 -M '55534243123456788000000080000606f50402527000000000000000000000'"

########################################################
# BandLuxe C120

ATTRS{idProduct}=="1000", ATTRS{idVendor}=="1a8d", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1a8d -P 0x1002 -M '55534243123456781200000080000603000000020000000000000000000000' -r x82"

########################################################
# Solomon S3Gm-660

ATTRS{idProduct}=="1000", ATTRS{idVendor}=="1dd6", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1dd6 -P 0x1002 -M '55534243123456781200000080000603000000020000000000000000000000' -r x82"

########################################################
# C-motech D-50 (aka "CDU-680")

ATTRS{idProduct}=="6803", ATTRS{idVendor}=="16d8", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x16d8 -P 0x6803 -M '555342431234567824000000800008ff524445564348470000000000000000'"

########################################################
# C-motech CGU-628 (aka "Franklin Wireless CGU-628A" aka "4G Systems XS Stick W12")

ATTRS{idProduct}=="f000", ATTRS{idVendor}=="16d8", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x16d8 -P 0x6006 -M '55534243d85dd88524000000800008ff524445564348470000000000000000'"

########################################################
# Toshiba G450

ATTRS{idProduct}=="0d46", ATTRS{idVendor}=="0930", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x0930 -P 0x0d45 -M '5553424312345678000000000000061b000000020000000000000000000000'"

########################################################
# UTStarcom UM175 (distributor "Alltel")

ATTRS{idProduct}=="3b03", ATTRS{idVendor}=="106c", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x106c -P 0x3715 -M '555342431234567824000000800008ff024445564348470000000000000000'"

########################################################
# Hummer DTM5731 

ATTRS{idProduct}=="5700", ATTRS{idVendor}=="1ab7", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1ab7 -P 0x5731 -M '5553424312345678000000000000061b000000020000000000000000000000'"


########################################################
# Sony Ericsson MD400
#
# This is still a bit experimental; but the device should
# at least stay in modem mode now

#;DefaultVendor=  0x0fce 
#;DefaultProduct= 0xd0e1

#;SonyMode=1

#Probably uses MDM driver, not in Puppy, so retained here, for now.

ATTRS{idProduct}=="d0e1", ATTRS{idVendor}=="0fce", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -O 1"

########################################################
# LG LDU-1900D EV-DO (Rev. A)

ATTRS{idProduct}=="1000", ATTRS{idVendor}=="1004", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -M '55534243123456780000000000000aff554d53434847000000000000000000'"

######################################################## 
# MyWave SW006 Sport Phone/Modem Combination

ATTRS{idProduct}=="9200", ATTRS{idVendor}=="1c9e", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1c9e -P 0x9202 -M '55534243123456780000000000000606f50402527000000000000000000000'"

########################################################
# EpiValley SEC-7089 (featured by Alegro and Starcomms / iZAP)

ATTRS{idProduct}=="0x0700", ATTRS{idVendor}=="1b7d", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1b7d -P 0x0001  -M '555342431234567824000000800008FF05B112AEE102000000000000000000'"

LABEL="option_end"
