#Udev rules to run usb_modeswitch for hybrid USB devices - those with unique identification.  Others are in separeate rule files for each group.
#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for CDC-ACM driver

#Bypass all of these rules if not an "add" action for "usb" subsystem.
SUBSYSTEM=="usb", GOTO="cdcacm_usb"
GOTO="cdcacm_end"
LABEL="cdcacm_usb"

########################################################
# Sony Ericsson MD400

ATTRS{idProduct}=="d0e1", ATTRS{idVendor}=="0fce", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -C 0x02 -O 1"

########################################################
# Cricket A600 - Switches to ACM device.

#ACTION=="add", SUBSYSTEM=="usb", ATTRS{idProduct}=="0021", ATTRS{idVendor}=="1f28", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1f28 -P 0x0020 -M '555342431234567824000000800108df200000000000000000000000000000'"

LABEL="cdcacm_end"
