#Udev rules to run usb_modeswitch for hybrid USB devices from Sierra: Vendor 0x1199, Product 0x0fff.
#Adapted from the /etc/usb_modeswitch.conf released: 2009-06-05
#Modeswitch rules for OPTION driver

#INSTRUCTIONS: Select only the rule appropriate for your device, based on the descriptions for each of the rules.  Uncomment (remove initial "#" in) one of the following lines beginning with #SUBSYSTEM=="usb".

########################################################
# Sierra Wireless Compass 597

#SUBSYSTEM=="usb", ATTRS{idProduct}=="0fff", ATTRS{idVendor}=="1199", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1199 -P 0x0023 -S 1"

########################################################
# Sierra Wireless AirCard 881U (most likely 880U too)

#SUBSYSTEM=="usb", ATTRS{idProduct}=="0fff", ATTRS{idVendor}=="1199", ACTION=="add", RUN+="/usr/sbin/usb_modeswitch.sh -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1199 -P 0x6856 -S 1"

