# created by Patriot
# Module loading rules for lpt & usb printers
ACTION=="add", KERNEL=="lp[0-15]*", SUBSYSTEM=="usb", NAME="usb/%k", MODE="0666"
ACTION=="add", KERNEL=="lp[0-7]*", SUBSYSTEM=="printer", NAME="%k", MODE="0666"
