#v413 Loads modules for modems not autodetected by kernel
SUBSYSTEM=="pci", GOTO="modem_pci"
GOTO="modem_end"
LABEL="modem_pci"

#Modems 536EP and 537SP share ID 8086:1040, so subvendor and subdevice are also tested...
ATTR{vendor}=="0x8086", ATTR{device}=="0x1040", ACTION=="add", GOTO="I80861040"
GOTO="Not_I80861040"
LABEL="I80861040"
ATTR{subsystem_vendor}=="0x8086", ATTR{subsystem_device}=="0x1005", GOTO="I537SP"
#Intel Corporation 536EP Data Fax Modem
RUN+="/sbin/pup_event_backend_modprobe Intel536"
GOTO="Not_I537SP"
LABEL="I537SP"
#Intel 537EP SP Data Modem
RUN+="/sbin/pup_event_backend_modprobe intel537SP"
LABEL="Not_I537SP"
LABEL="Not_I80861040"

#Intel Corporation 537EP Data Fax Modem
ATTR{vendor}=="0xe159", ATTR{device}=="0x0001", ACTION=="add", PROGRAM+="/bin/sh -c '[ -d /lib/modules/`/bin/uname -r`/intelmodem ] && echo intel537 || echo Intel537'", RUN+="/sbin/pup_event_backend_modprobe %c"
ATTR{vendor}=="0x1813", ATTR{device}=="0x3052", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537"

#Intel Corporation FA82537EP 56K V.92 Data/Fax Modem PCI
ATTR{vendor}=="0x8086", ATTR{device}=="0x1080", ACTION=="add", PROGRAM+="/bin/sh -c '[ -d /lib/modules/`/bin/uname -r`/intelmodem ] && echo intel537EP || echo Intel537'", RUN+="/sbin/pup_event_backend_modprobe %c"
ATTR{vendor}=="0x1543", ATTR{device}=="0x3052", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EP"

#Intel 537EP EA Data Modems
ATTR{vendor}=="0x10b9", ATTR{device}=="0x5457", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EA"
ATTR{vendor}=="0x1002", ATTR{device}=="0x434D", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EA"
ATTR{vendor}=="0x8086", ATTR{device}=="0x24[4cd]6", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EA"
ATTR{vendor}=="0x10de", ATTR{device}=="0x01c1", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EA"
ATTR{vendor}=="0x1039", ATTR{device}=="0x7013", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EA"
ATTR{vendor}=="0x1106", ATTR{device}=="0x3068", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe intel537EA"

#Mwave modems
ATTR{vendor}=="0x1014", ATTR{device}=="0x007d", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe mwave"

#Agere modems - non-HDA
ATTR{vendor}=="0x11c1", ATTR{device}=="0x06[23]0", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe agrserial"
ATTR{vendor}=="0x8086", ATTR{device}=="0x24[1248cd]6", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe agrserial"
ATTR{vendor}=="0x8086", ATTR{device}=="0x7196", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe agrserial"
ATTR{vendor}=="0x11c1", ATTR{device}=="0x048[cf]", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe agrserial"
ATTR{vendor}=="0x8086", ATTR{device}=="0x266d", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe agrserial"


#Lucent Integrated ISA modems - implied by presence of PC-to-ISA bridge
#If you need this rule, remove the "#" from the next line.  Some PCs might show a modem installed even though not actually present.  Uncomment the line only if you know you have a built-in Lucent modem that is not already recognized.
#ATTR{vendor}=="0x8086", ATTR{device}=="0x7110", ACTION=="add", RUN+="/sbin/pup_event_backend_modprobe ltmodem"

LABEL="modem_end"
