style "default"
{

	GtkToolbar::shadow_type = GTK_SHADOW_NONE

#	GtkHBox::shadow_type = GTK_SHADOW_OUT

}

style "ev"
{
  bg[NORMAL]     	= "#000000"
}

class "GtkEventBox"			style "ev"

class "GtkToolbar"       		style "default"	
class "GtkHBox"       			style "default"	

