[Desktop Entry]
Encoding=UTF-8
Name=AlsaMixer audio mixer
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-sound.xpm
Comment=AlsaMixer sound mixer
Exec=xterm -e alsamixer
Terminal=true
Type=Application
#Categories=AudioVideo
Categories=AudioMixers
GenericName=AlsaMixer
