[Desktop Entry]
Encoding=UTF-8
Name=BootFlash install Puppy to USB
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-ray.xpm
Comment=BootFlash install Puppy to USB
Exec=/usr/sbin/bootflash
Terminal=false
Type=Application
Categories=X-SetupUtility
GenericName=BootFlash
