[Desktop Entry]
Encoding=UTF-8
Name=Elementary Test
Comment=Elementary Test Application
Exec=elementary_test
##works with rox-2.10 not with jwm-508
#Icon=elementary
##works with rox-2.10 and with jwm-508
Icon=/usr/share/icons/elementary.png
Terminal=false
Type=Application
Categories=Application;Utility;
