[Desktop Entry]
Encoding=UTF-8
Name=ePDFView PDF viewer
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-pdf.xpm
Comment=ePDFView PDF viewer
Exec=epdfview
Terminal=false
Type=Application
Categories=X-DocumentUtility
GenericName=ePDFView PDF viewer
