[Desktop Entry]
Encoding=UTF-8
Name=fbxkb Country Indicator
Icon=
Comment=fbxkb Country Indicator
Exec=fbxkb
Terminal=false
Type=Application
Categories=BuildingBlock
GenericName=fbxkb Country Indicator

