[Desktop Entry]
Type=Application
Name=FFplay simple multimedia player
Name[ja]=FFplay シンプルメディアプレーヤー
Exec=ffplay.sh

Icon=/usr/local/lib/X11/Backup/mini-icons/Animation.xpm
#Categories=AudioVideo;
Categories=FFmpegSuite
MimeType=application/vnd.ms-asf;application/vnd.rn-realmedia;application/x-annodex;application/x-mplayer2;application/x-quicktimeplayer;application/x-shockwave-flash;application/x-dvi;video/ogg;video/mpeg;video/x-mpeg;video/mp4;video/anim;video/x-anim;video/mkv;video/mng;video/x-mng;video/msvideo;video/quicktime;video/x-quicktime;video/x-flic;video/x-flv;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-wax;video/x-ms-wmv;video/x-ms-wvx;video/x-msvideo;
#Terminal=true
#GenericName=
#Comment=
#NoDisplay=
#Hidden=
#OnlyShowIn=
#NotShowIn=
#TryExec=
#Path=
#StartupNotify=true
#StartupWMClass=
