[Desktop Entry]
Encoding=UTF-8
Name=fifteen
Icon=/usr/share/icons/game.png
Comment=fifteen
Exec=/usr/bin/fifteen
Terminal=false
Type=Application
Categories=Game
GenericName=fifteen
