[Desktop Entry]
Encoding=UTF-8
Name=PcurlFtp file sharing
Icon=/usr/local/lib/X11/Backup/mini-icons/pc-2x.xpm
Comment=connect to ftp servers
Exec=rox -d /root/File-Sharing
Terminal=false
Type=Application
Categories=Network
GenericName=PcurlFtp
