[Desktop Entry]
Encoding=UTF-8
Name=FireFox web browser
#Icon=/usr/local/lib/X11/pixmaps/www48.png
#Icon=www48.png
#Icon=default48.png
Icon=/lib/firefox/chrome/icons/default/default48.png
Comment=FireFox web browser
Exec=/lib/firefox/firefox -ProfileManager
Terminal=false
Type=Application
Categories=WebBrowser
GenericName=FireFox web browser
