[Desktop Entry]
Name=FreeCraft
GenericName=freecraft
Comment=The War begins
Type=Application
Exec=freecraft
Icon=/usr/share/pixmaps/freecraft.png
Terminal=false
Categories=Games;StrategyGame;
