[Desktop Entry]
Encoding=UTF-8
Name=FullerScreen slide presenter
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-cave.xpm
Comment=FullerScreen slide presenter
Exec=/usr/local/fullerscreen/start.sh
Terminal=false
Type=Application
Categories=Presentation
GenericName=FullerScreen
