[Desktop Entry]
Encoding=UTF-8
Name=Glipper
Name[de]=Glipper
Name[fr]=Glipper
Name[ru]=Glipper
Comment=Clipboard Manager
Comment[de]=Zwischenablagenverwalter
Comment[fr]=Gestionnaire de presse-papiers
Comment[ru]=Менеджер буфера обмена
Categories=GTK;GNOME;Application;Utility;
TryExec=glipper
Exec=glipper
Icon=glipper.png
Terminal=false
Type=Application
StartupNotify=false
