[Desktop Entry]
Encoding=UTF-8
Name=GParted partition manager
Icon=/usr/local/lib/X11/Backup/mini-icons/gparted.xpm
Comment=GParted partition manager
Exec=gparted_shell
Terminal=false
Type=Application
Categories=X-SystemMemory
GenericName=GParted partition manager
