[Desktop Entry]
Encoding=UTF-8
Name=gPlanarity move the dots
Comment=gPlanarity move the dots
Exec=gplanarity
Terminal=false
Type=Application
Icon=/usr/local/lib/X11/Backup/mini-icons/gplanarity.xpm
Categories=Game
