[Desktop Entry]
Encoding=UTF-8
Name=Gpptp PPTP VPN client
Icon=/usr/local/lib/X11/Backup/mini-icons/pc-2x.xpm
Comment=Gpptp PPTP VPN client
Exec=gpptp
Terminal=false
Type=Application
Categories=Network
GenericName=Gpptp
