[Desktop Entry]
Encoding=UTF-8
Name=Chtheme GTK theme chooser
Icon=/usr/local/lib/X11/Backup/mini-icons/mini.window3d.xpm
Comment=GTK theme
Exec=gtk-chtheme
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=GTK theme
