[Desktop Entry]
Encoding=UTF-8
Name=GtkHash Calculate file hashes
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-tick.xpm
Comment=GtkHash Calculate file hashes
Exec=gtkhash
Terminal=false
Type=Application
Categories=Utility
GenericName=gtkhash
