[Desktop Entry]
Encoding=UTF-8
Name=Gtkdialog text markup editor
Icon=/usr/local/lib/X11/Backup/mini-icons/so.xpm
Comment=Gtkdialog text markup editor
Exec=markup
Terminal=false
Type=Application
Categories=Development
GenericName=markup
