[Desktop Entry]
Encoding=UTF-8
Name=Gxine 059 media player
#Icon=Animation.xpm
#/usr/share/pixmaps/gxine.png
Icon=/usr/local/share/pixmaps/gxine.png
Comment=Gxine media player
Exec=gxineshell
Terminal=false
Type=Application
#Categories=Puppy;AudioVideo
GenericName=Gxine media player
Categories=XPlayers

