[Desktop Entry]
Encoding=UTF-8
Name=Htop view running processes
Icon=/usr/share/pixmaps/htop.png
Comment=Htop view running processes
Exec=rxvt -font 7x14 -bg "#FFFFFF" -fg black -T htop -n htop -e htop
Terminal=false
Type=Application
Categories=System
GenericName=Htop view running processes
