[Desktop Entry]
Encoding=UTF-8
Name=ISOMaster iso file editor
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-cd.xpm
Comment=ISOMaster iso file editor
Exec=isomaster
Terminal=false
Type=Application
Categories=DiskBurning
GenericName=ISOMaster iso file editor
