[Desktop Entry]
Encoding=UTF-8
Name=JWM3 configuration
Icon=/usr/local/lib/X11/Backup/mini-icons/mini.window3d.xpm
Comment=New JWM configuration
Exec=jwmconfig3
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=JWM3 configuration
