[Desktop Entry]
Encoding=UTF-8
Name=LoginManager configure login
Icon=so.xpm
Comment=LoginManager configure login
Exec=loginmanager
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=loginmanager
