[Desktop Entry]
Encoding=UTF-8
Name=Mouse/keyboard Wizard
Icon=/usr/local/lib/X11/Backup/mini-icons/wizard16.xpm
Comment=Mouse/keyboard Wizard
Exec=input-wizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Mouse/keyboard Wizard
