[Desktop Entry]
Encoding=UTF-8
Name=netgame
Icon=/usr/share/icons/game.png
Comment=netgame
Exec=/usr/bin/netgame
Terminal=false
Type=Application
Categories=Game
GenericName=netgame
