[Desktop Entry]
Encoding=UTF-8
Name=Network Wizard (old version)
Icon=/usr/local/lib/X11/Backup/mini-icons/wizard16.xpm
Comment=Network Wizard
Exec=/usr/local/net_setup/usr/sbin/net-setup.sh
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Network Wizard
