[Desktop Entry]
Encoding=UTF-8
Name=NicoEdit text editor
#Icon=/usr/local/lib/X11/Backup/mini-icons/nicoedit.png
Icon=/usr/share/pixmaps/NicoEdit/nicoedit.png
Comment=NicoEdit text editor
Exec=nicoedit
Terminal=false
Type=Application
Categories=TextEditor
GenericName=NicoEdit
