[Desktop Entry]
Encoding=UTF-8
Name=Opera 12.00 Internet Suite
Icon=/usr/share/pixmaps/opera.xpm
Comment=Opera Internet Suite
Exec=/lib/opera-12.00-1467.i386.linux/opera -newwindow
Terminal=false
Type=Application
Categories=WebBrowser
GenericName=Opera Internet Suite
