[Desktop Entry]
Encoding=UTF-8
Name=Osmo personal organizer
Icon=/usr/share/icons/hicolor/48x48/apps/osmo.png
Comment=Osmo personal organizer
Exec=osmo
Terminal=false
Type=Application
Categories=X-Personal
GenericName=Osmo
