[Desktop Entry]
Type=Application
Name=Pcrypt -  file encryption and secure deletion
Exec=Pcrypt

Icon=/usr/local/lib/X11/mini-icons/so.xpm
Categories=X-Personal;
