[Desktop Entry]
Encoding=UTF-8
Name=Pcur cursor selector
Icon=/usr/local/lib/X11/mini-icons/default_left_ptr.png
Comment=Mouse cursor selector
Exec=pcur
Terminal=false
Type=Application
Categories=X-Desktop
GenericName=Pcur
