[Desktop Entry]
Encoding=UTF-8
Name=Pdisk partition manager
Icon=/usr/local/lib/X11/Backup/mini-icons/Pdisk.xpm
Comment=Pdisk partition manager
Exec=Pdisk
Terminal=false
Type=Application
Categories=X-SystemMemory
GenericName=Pdisk partition manager
