[Desktop Entry]
Encoding=UTF-8
Name=Pdvdrsab DVD rip/shrink/author/burn
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-cd.xpm
Comment=Pdvdrsab rip/shrink/author/burn
Exec=pdvdrsab
Terminal=false
Type=Application
#Categories=AudioVideo
Categories=DiskBurning
GenericName=Pdvdrsab
