[Desktop Entry]
Encoding=UTF-8
Name=pegs
Icon=/usr/share/icons/game.png
Comment=pegs
Exec=/usr/bin/pegs
Terminal=false
Type=Application
Categories=Game
GenericName=pegs
