[Desktop Entry]
Encoding=UTF-8
Name=Petspec create pkg db entry
Icon=/usr/local/lib/X11/Backup/mini-icons/so.xpm
Comment=Petspec create pkg db entry
Exec=petspec
Terminal=false
Type=Application
Categories=Development
GenericName=Petspec
