[Desktop Entry]
Encoding=UTF-8
Name=PicPuz jigsaw puzzle
Icon=/usr/share/pixmaps/picpuz.png
Comment=jigsaw puzzle
Exec=picpuz
Terminal=false
Type=Application
Categories=Game
GenericName=PicPuz
