[Desktop Entry]
Encoding=UTF-8
Name=Pmetatagger audio file tag editor
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-speaker.xpm
Comment=meta tagger
Exec=/usr/sbin/pmetatagger
Terminal=false
Type=Application
#Categories=Audio
Categories=MediaStreams
GenericName=meta tagger
