[Desktop Entry]
Encoding=UTF-8
Name=Pmusic audio player
Name[fr]=Pmusic Lecteur audio
Name[hu_HU]=Pmusic audió lejátszó
Name[ja]=Pmusic オーディオプレーヤ
Icon=/usr/local/pmusic/pmusic20.png
Comment=Pmusic audio player
Exec=pmusic
Terminal=false
Type=Application
Categories=Audio
GenericName=Pmusic audio player
