[Desktop Entry]
Encoding=UTF-8
Name=CD player/ripper
Icon=mini-cd.xpm
Comment=CD player/ripper
Terminal=false
Type=Application
Categories=Audio
GenericName=CD player/ripper
Exec=pmusic_CD 
