[Desktop Entry]
Encoding=UTF-8
Name=PPLOG personal blog
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-book2.xpm
Comment=PPLOG personal blog
Exec=pplog_gui
Terminal=false
Type=Application
Categories=X-Personal
GenericName=PPLOG
