[Desktop Entry]
Encoding=UTF-8
Name=Pprocess process manager
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-run.xpm
Comment=Pprocess process manager
Exec=/usr/local/pprocess/pprocess
Terminal=false
Type=Application
Categories=System
GenericName=Pprocess process manager
