[Desktop Entry]
Encoding=UTF-8
Name=Psync Time Server Synchroniser
Icon=mini-clock.xpm
Comment=Psync Time Server Synchroniser
Exec=/usr/local/psync/psync
Terminal=false
Type=Application
Categories=X-DesktopCountry
GenericName=Psync
