[Desktop Entry]
Encoding=UTF-8
Name=PupDial modem dialup
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-connect.xpm
Comment=PupDial modem dialup
Exec=pupdial
Terminal=false
Type=Application
Categories=Dialup
GenericName=PupDial
