[Desktop Entry]
Encoding=UTF-8
Name=PuppyBrowser web browser
Comment=PuppyBrowser web browser
Exec=PuppyBrowser
Icon=PuppyBrowser.png
Categories=X-Internet
MimeType=
Type=Application
