[Desktop Entry]
Encoding=UTF-8
Name=Pwireless wireless scanner
Icon=/usr/local/lib/X11/Backup/mini-icons/Pwireless.png
Comment=wireless scanner
Exec=Pwireless
Terminal=false
Type=Application
Categories=Network
GenericName=Pwireless
