[Desktop Entry]
Encoding=UTF-8
Name=QUISP dnamic web interface
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-books.xpm
Comment=QUISP database web interface
Exec=quisp_shell
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=QUISP
