[Desktop Entry]
Name=RipOff CD song ripper, simple
Comment=Rip audio from your CDs
Exec=ripoff
TryExec=ripoff
Icon=/usr/share/pixmaps/ripoff.xpm
Terminal=false
Type=Application
#Categories=AudioVideo
Categories=MediaStreams
