[Desktop Entry]
Encoding=UTF-8
Name=Roaring Penguin PPPoE
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-connect.xpm
Comment=Roaring Penguin PPPoE
Exec=pppoe_gui
Terminal=false
Type=Application
Categories=Dialup
GenericName=Roaring Penguin PPPoE
