[Desktop Entry]
Encoding=UTF-8
Name=Rxvt terminal emulator
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-sh.xpm
Comment=Rxvt terminal emulator
Exec=rxvt
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Rxvt terminal emulator
