[Desktop Entry]
Encoding=UTF-8
Name=Sakura
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=/usr/share/pixmaps/terminal-tango.png
Type=Application
Categories=TerminalEmulator
StartupNotify=true
X-Ubuntu-Gettext-Domain=sakura
