[Desktop Entry]
Encoding=UTF-8
Name=SFSconvert version converter
##does not work with rox-2.10 and jwm-508 :
##cannot access /usr/local/apps/ROX-Filer/ROX/MIME/mime-application:x-squashfs-image.png: No such file or directory
#Icon=/usr/local/apps/ROX-Filer/ROX/MIME/mime-application:x-squashfs-image.png
##works with rox-2.10 and jwm-508
Icon=/usr/local/apps/ROX-Filer/ROX/MIME/application-x-squashfs-image.png

Comment=Utility to convert sfs 3 to 4, vice versa
Exec=/usr/local/sfsconvert/sfsconvert
Terminal=false
Type=Application
Categories=Utility
GenericName=SFS Converter
