[Desktop Entry]
Encoding=UTF-8
Name=Snap2 snapshot backup now!
Icon=snap2.png
Comment=Snap2 snapshot backup now!
Exec=xterm -e "snap2shell snapshot default.set"
Terminal=false
Type=Application
Categories=Archiving
GenericName=Snap2
