[Desktop Entry]
Encoding=UTF-8
Name=solo
Icon=/usr/share/icons/game.png
Comment=solo
Exec=/usr/bin/solo
Terminal=false
Type=Application
Categories=Game
GenericName=solo
