[Desktop Entry]
Encoding=UTF-8
Name=SQLiteManager database manager
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-books.xpm
Comment=SQLiteManager database manager
Exec=firefox -chrome chrome://sqlitemanager/content/
Terminal=false
Type=Application
Categories=X-Calculate
GenericName=SQLiteManager
