[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=streamtuner
GenericName=Stream Directory Browser
GenericName[de]=Streamverzeichnis durchsuchen
GenericName[fr]=Navigateur de Répertoire de Stations
GenericName[ja]=ストリーム ディレクトリ ブラウザ
Comment=Browse Internet stream directories
Comment[de]=Internet Streamverzeichnisse durchsuchen
Comment[fr]=Parcours les répertoires de stations sur Internet
Comment[ja]=インターネットストリーム ディレクトリを調べる
Icon=/usr/share/streamtuner/ui/streamtuner.png
TryExec=streamtuner
Exec=streamtuner
Terminal=false
#Categories=Application;AudioVideo;GTK;Tuner;
Categories=MediaStreams
StartupNotify=true
