[Desktop Entry]
Encoding=UTF-8
Name=Sysprof system profiler
Icon=/usr/share/sysprof/sysprof-icon.png
Comment=Sysprof system profiler
Exec=sysprof
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=Sysprof
