[Desktop Entry]
Encoding=UTF-8
Name=Tile slider game
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-modules.xpm
Comment=Tile slider game
Exec=tile
Terminal=false
Type=Application
Categories=Game
GenericName=Tile
