[Desktop Entry]
Encoding=UTF-8
Name=vlc 092 media player
Icon=/usr/local/lib/X11/Backup/mini-icons/Animation.xpm
Comment=Vlc media player
Exec=vlc
Terminal=false
Type=Application
Categories=Puppy;AudioVideo
GenericName=vlc media player
