[Desktop Entry]
Encoding=UTF-8
Name=Vte vte
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-sh.xpm
Comment=Vte vte
Exec=/usr/bin/vte
Terminal=false
Type=Application
Categories=Utility
GenericName=Vte vte
