[Desktop Entry]
Encoding=UTF-8
Name=X-invaders3D
Icon=/usr/share/pixmaps/xinvaders3d.jpg
Comment=X-invaders3D
Exec=xinv3d
Terminal=false
Type=Application
Categories=Game
GenericName=X-invaders3D
