[Desktop Entry]
Encoding=UTF-8
Name=Xclipboard
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-clipboard.xpm
Comment=Xclipboard
Exec=xclipboard -w
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xclipboard
