[Desktop Entry]
Type=Application
Name=Xdelta file difference manager
Exec=xdelta_gui
Icon=/usr/local/lib/X11/Backup/mini-icons/gz.xpm
Categories=Utility
GenericName=Xdelta
