[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=XEmeraldia drop blocks
Type=Application
Exec=xemeraldia
Icon=/usr/share/pixmaps/xemeraldia.xpm
Terminal=false
Categories=Game
