[Desktop Entry]
Encoding=UTF-8
Name=XEphem - simple Space View
Icon=/usr/local/lib/X11/mini-icons/XEphem.png
Comment=Astronomical Program
Exec=xephem
Terminal=false
Type=Application
Categories=Game
GenericName=XEphem-3.7.5-rc11