[Desktop Entry]
Encoding=UTF-8
Name=XF-Prot virus scanner
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-roach.xpm
Comment=XF-Prot virus scanner
Exec=xfprot
Terminal=false
Type=Application
Categories=Utility
GenericName=XF-Prot virus scanner
