[Desktop Entry]
Encoding=UTF-8
Name=Xpenguins Desktop Toy
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-penguin.xpm
Comment=Xpenguins Desktop Toy
Exec=/root/my-roxapps/XPenguins/AppRun
Terminal=false
Type=Application
Categories=Amusement
GenericName=Xpenguins Desktop Toy
