[Desktop Entry]
Encoding=UTF-8
Name=Xsoldier space war
Icon=/usr/local/lib/X11/Backup/mini-icons/xsoldier.xpm
Comment=Xsoldier space war
Exec=xsoldier
Terminal=false
Type=Application
Categories=Game
GenericName=Xsoldier
