[Desktop Entry]
Encoding=UTF-8
Name=Original xterm 
Icon=/usr/local/lib/X11/mini-icons/xterm_48x48.xpm
Comment=xterm-266 with menu
Exec=xterm-266
Terminal=false
Type=Application
Categories=Development
GenericName=xterm-266 
