[Desktop Entry]
Encoding=UTF-8
Name=Xvesa Video Wizard
Icon=/usr/local/lib/X11/Backup/mini-icons/wizard16.xpm
Comment=Xvesa Video Wizard
Exec=video-wizard
Terminal=false
Type=Application
Categories=X-SetupWizard
GenericName=Xvesa Video Wizard
