[Desktop Entry]
Encoding=UTF-8
Name=You2pup (youtube downloader)
GenericName=youtube downloader
Icon=/usr/share/pixmaps/you2pup.png
Exec=/usr/local/you2pup/you2pup
Terminal=false
Type=Application
Categories=FileTransfer
