[Desktop Entry]
Encoding=UTF-8
Name=Zfind file finder, simple
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-search.xpm
Comment=Zfind file finder
Exec=zfind
Terminal=false
Type=Application
Categories=X-FilesystemFind
GenericName=Zfind file finder
