[Desktop Entry]
Encoding=UTF-8
Name=Zmixer audio mixer
Icon=/usr/local/lib/X11/Backup/mini-icons/mini-sound.xpm
Comment=Zmixer sound mixer
Exec=zmixer
Terminal=false
Type=Application
#Categories=AudioVideo
Categories=AudioMixers
GenericName=Zmixer
