[Desktop Entry]
Encoding=UTF-8
Name=Tray Manager
Icon=mini-icons.xpm
Comment=for JWM Desktop 
Exec=traymanager
Terminal=false
Type=Application
Categories=X-DesktopApplets

