#Udev rules to run usb_modeswitch for hybrid USB devices - those with unique identification.
#Adapted from the /etc/usb_modeswitch.conf released: 2009-01-22
#Modeswitch rules for SIERRA driver

#Bypass all of these rules if not an "add" action for "usb" subsystem.
SUBSYSTEM!="usb", GOTO="sierra_end"
ACTION!="add", GOTO="sierra_end"

# Syntax switch, need possibly for upcoming Distros (Test ignored by old kernels.)
ATTR{dev}=="?*", GOTO="sierra_new_syntax"
GOTO="sierra_old_syntax"

############################### NEW SYNTAX ###############################

LABEL="sierra_new_syntax"

#Switching handled elsewhere (libusual module) in newer kernels for remaining model.
GOTO="sierra_end"

############################### OLD SYNTAX ###############################

LABEL="sierra_old_syntax"

########################################################
# Sierra Wireless AirCard 881U (most likely 880U too)

SUBSYSTEM=="usb", ACTION=="add", SYSFS{idProduct}=="0fff", SYSFS{idVendor}=="1199", RUN+="/usr/sbin/usb_modeswitch -v 0x%s{idVendor} -p 0x%s{idProduct} -V 0x1199 -P 0x6856 -S 1"

LABEL="sierra_end"
