default_window_height=562|default_window_width=894|viewtoolbar=true|linenumber=false|insertspace=false|highlightcurrentline=false|highlightsyntax=true|backgroundcolor=#ffffffffffff|textcolor=#000000000000|font=Sans 12|tabwidth=4|toolbarstyle=both|autoindent=false|indentontab=false|indentwidth=2|linewrapping=true|currentfolder=