default_window_height=560|default_window_width=792|viewtoolbar=true|linenumber=true|insertspace=false|highlightcurrentline=true|highlightsyntax=true|defaultsyntax=text|backgroundcolor=#ffffffffffff|textcolor=#000000000000|font=Monospace 13