!*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-*-*
!*font: -misc-fixed-medium-r-normal--13-120-75-75-c-70-*-*
!*font:     -misc-fixed-medium-r-normal--14-130-75-75-c-70-*-*
!*font: -misc-fixed -medium-r-normal--15-140-75-75-c-90-*-*
*font:  -adobe-courier-bold-o-normal-*-18-180-75-75-m-110-iso8859-1
!*font:     -sony-fixed-medium-r-normal-*-16-120-100-100-c-80-iso8859-1
!*font:     -urw-dingbats-medium-r-normal-*-17-120-100-100-p-0-adobe-fontspecific
!*font:     -b8h-lucidatypewriter-medium-r-normal-sans-14-140-75-75-m-90-iso8859-1
!*font: -urw-nimbus sans l-medium-r-normal-*-17-120-100-100-p-0-koi8-uni
!*font: -misc-dejavu sans-bold-o-normal-*-17-120-100-100-p-0-koi8-e
!*font: -urw-dingbats-medium-r-normal--17-120-100-100-p-0-adobe-fontspecific
!*font: -urw-dingbats-medium-r-normal--17-120-100-100-p-0-adobe-fontspecific
Xft.dpi: 84

! XOsview settings begin

! General Resources
!xosview-1.8.3-diskmeter-dyn*title:
!xosview-1.8.3-diskmeter-dyn*geometry:           +5+5
!xosview-1.8.3-diskmeter-dyn*display:
xosview-1.8.3-diskmeter-dyn*captions:           True
xosview-1.8.3-diskmeter-dyn*labels:             True
xosview-1.8.3-diskmeter-dyn*transparent:        False
xosview-1.8.3-diskmeter-dyn*meterLabelColor:    wheat
xosview-1.8.3-diskmeter-dyn*usedlabels:         True
xosview-1.8.3-diskmeter-dyn*usedLabelColor:     wheat
xosview-1.8.3-diskmeter-dyn*borderwidth:        0
xosview-1.8.3-diskmeter-dyn*font:               7x13
xosview-1.8.3-diskmeter-dyn*background:         navy
xosview-1.8.3-diskmeter-dyn*foreground:         wheat
xosview-1.8.3-diskmeter-dyn*enableStipple:      False ! Change to true to try beta stipple support.
xosview-1.8.3-diskmeter-dyn*samplesPerSec:      10    ! not yet supported
xosview-1.8.3-diskmeter-dyn*graphNumCols:       128   ! number of samples shown in a graph


! Disk Meter Resources
xosview-1.8.3-diskmeter-dyn*disk:               True
xosview-1.8.3-diskmeter-dyn*diskUsedColor:      seagreen
xosview-1.8.3-diskmeter-dyn*diskIdleColor:      #8FFF00     !lightgreen#8FFF00
xosview-1.8.3-diskmeter-dyn*diskWriteColor:     #FF0000     !read
xosview-1.8.3-diskmeter-dyn*diskReadColor:      #F9983C     !orange
xosview-1.8.3-diskmeter-dyn*diskBandwidth:      100000000 ! 100MB/s should be reasonable today for
! both IDE and SCSI
xosview-1.8.3-diskmeter-dyn*diskPriority:       10
xosview-1.8.3-diskmeter-dyn*diskDecay:          True
xosview-1.8.3-diskmeter-dyn*diskUsedFormat:     autoscale
xosview-1.8.3-diskmeter-dyn*diskGraph:          True

! XOsview settings end

