!*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-*-*
!*font: -misc-fixed-medium-r-normal--13-120-75-75-c-70-*-*
!*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-*-*
!*font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-*-*
!*font: -adobe-courier-bold-o-normal-*-18-180-75-75-m-110-iso8859-1
!*font: -sony-fixed-medium-r-normal-*-16-120-100-100-c-80-iso8859-1
!*font: -urw-dingbats-medium-r-normal-*-17-120-100-100-p-0-adobe-fontspecific
!*font: -b8h-lucidatypewriter-medium-r-normal-sans-14-140-75-75-m-90-iso8859-1
!*font: -urw-nimbus sans l-medium-r-normal-*-17-120-100-100-p-0-koi8-uni
!*font: -misc-dejavu sans-bold-o-normal-*-17-120-100-100-p-0-koi8-e
Xft.dpi: 84
!*font: -urw-dingbats-medium-r-normal--17-120-100-100-p-0-adobe-fontspecific
!*font: -urw-dingbats-medium-r-normal--17-120-100-100-p-0-adobe-fontspecific
!*font: -*-*-*-*-*-*-*-*-*-*-*-*-*-*
!*font: -misc-*-*-*-*-*-*-*-*-*-*-*-*-*
!*font: -adobe-times-medium-i-normal--10-100-75-75-p-52-iso8859-15
!*font: -*-*-*-*-*-*-*-*-*-*-*-*-*-*
!*font: -schumacher-clean-bold-r-normal--8-80-75-75-c-80-iso646.1991-irv
!*font: -schumacher-clean-medium-r-normal--8-80-75-75-c-50-iso646.1991-irv
!*font: -xfree86-cursor-*-*-*-*-*-*-*-*-*-*-*-*
!*font: -sun-open look glyph----*-*-*-*-*-*-*-*-*
*font: -adobe-courier-*-*-*-*-*-*-*-*-*-*-*-*
