Xft.dpi: 78
!*font: -urw-dingbats-medium-r-normal--*-120-100-100-p-*-adobe-fontspecific
!*font: -*-*-*-*-*-*-*-*-*-*-*-*-*-*
!*font: -misc-fixed-medium-r-normal--14-130-75-75-c-70-*-*
!*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-*-*
!*font: -misc-fixed-medium-r-normal--13-120-75-75-c-70-*-*
!*font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-*-*
!*font: -sony-fixed-medium-r-normal-*-17-120-100-100-c-*-iso8859-1
!*font: -adobe-helvetica-bold-r-normal-*-17-120-100-100-p-0-iso8859-1
!*font: -misc-liberation serif-medium-i-normal-*-0-0-0-0-p-0-iso8859-1
*font: -sony-fixed-medium-r-normal-*-16-*-100-100-c-80-iso8859-1
